* {
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}
body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/145/062/original/easter-egg-pattern-vector-background.jpg");
    background-size: cover;
}

/* ------------Header------------ */

.title{
    font-size: 70px;
    text-align: center;
    color: blue;
}
header img{
    width: 70%;
    height: 10%;
}
#easter{
    width: 500px;
    margin-top: -200px;
    animation-name: easter;
    animation-duration: 28s;
    animation-iteration-count: infinite;
}
@keyframes easter {
    0%{
        margin-left: -100px;
    }
    25%{
        margin-left: 800px;
    }
    50%{
     transform: rotateY(180deg);
    }
    75%{
        transform: rotateY(180deg);
    }
    100%{
        margin-left: -100px;
    }
}

/* -------------Container------------- */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -200px;
    margin-bottom: 154px;
}
.item {
    width: 250px;
    height: 300px;
    text-align: center;
}
.item img {
    width: 250px;
    height: 300px;
}
.item-collapsible {
    padding: 3px;
    cursor: pointer;
    width: 260px;
    border-color: blue;
    color: blue;
    outline: none;
}
.bunnycollapsible
{
    background-color: grey;
}
.dyedcollapsible
{
    background: linear-gradient(to right, pink, red);
}
.dresscollapsible{
    background-color: pink;
}
.content{
    background-color: rgb(255, 255, 255);
    text-align: left;
    display: none;
    overflow: hidden;
    padding: 0 4px;
    color: blue;
    width: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* ---------------Facts-Cotainer------------- */

#facts {
    color: blue;
    font-size: 35px;
    text-align: center;
}
.facts{
    width: 500px;
    color: blue;
    margin: auto;
    font-size: 19px;
    border: solid;
    border-color: blue;
    border-width: 4px;
    border-radius: 50px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.800);
    text-align: center;
}
.facts img{
    width: 200px;
}
.facts:hover {
    cursor: pointer;
}
.fun-facts {
    font-size: 24px;
    color: blue;
    text-align: start;
    border: solid;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.800);
    width: 500px;
    margin: auto;
}
    width: 300px;
    margin-left: -60px;
}
